/* index.css or App.css */


html,
body {
  max-width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.underlined-link {
  text-decoration: underline !important;
}
.logo {
  cursor: pointer;
  width: 171px;
}
.app-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0px 20px !important;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, var(--primary) 0%, var(--dark) 100%);
  padding: var(--footer-height);
}
.app-header-content {
  height: 100%;
  max-width: var(--max-width);
  margin: auto !important;
}
.app-container {
  background: linear-gradient(135deg, var(--primary) 0%, var(--dark) 100%);
  min-height: calc(100dvh - var(--hf-height)) !important;
  width: 100%;
  max-width: var(--max-width, 1440px);
  margin: 0 auto;
}
.app-footer {
  height: var(--footer-height);
  padding: 24px 20px !important;
  background-color: var(--background) !important;
}
.app-footer-content {
  max-width: var(--max-width);
  margin: auto;
}

.full-height {
  min-height: calc(100dvh);
}
.full-height-with-footer {
  min-height: calc(100dvh - var(--footer-height));
}
.full-height-with-header {
  min-height: calc(100dvh - var(--header-height));
}

.text-center {
  text-align: center;
}